.contact-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
  }
  
  .contact-info, .contact-form {
    width: 100%;
    max-width: 500px;
  }
  
  .contact-info {
    text-align: left;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 12px;
    font-size: 1rem;
    font-family: inherit;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 90%;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
  }
  
  .contact-form textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  .contact-form label {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 8px;
    display: block;
  }
  
  .textarea-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .contact-container a {
    all: unset;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .contact-container a:hover {
    color: #64FFDA;
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .contact-info svg {
    background-color: #64FFDA;
    border-radius: 2px;
  }
  
  label.light {
    color: #64FFDA;
  }
  
  .success-message {
    color: green;
  }
  
  .error-message {
    color: red;
  }
  
  .submitbtn {
    width: 95%;
    align-self: center;
  }

  @media (min-width: 768px) {
    .contact-container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  
    .contact-info, .contact-form {
      width: 45%;
    }

  }
  
  @media (max-width: 480px) {
    .contact-form label {
      font-size: 1.2rem;
    }
  
    .contact-container a {
      font-size: 1.2rem;
    }

    input, textarea {
        max-width: 90%;
    }
  }
  