body {
  background: #FFFFFF;
  color: #2c3e50;
  font-family: Arial, sans-serif;
}

a {
  color: #FF4C4C;
}

a:hover {
  color: #B22C2C;
}

nav, footer {
  background-color: #F7F7F7;
  color: black;
  padding: 1rem;
}

button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}